<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Hello World!</h1>
    <form>
        <input id="first-name" type="text" placeholder="First name">
        <input id="last-name" type="text" placeholder="Last name">
        <input id="email" type="text" placeholder="Email">
        <button type="submit">Submit</button>
    </form>
    <div class="container hide">
        <div id="payment"></div>
        <div>
            <button id="submit">Save</button>
        </div>
    </div>
    <div class="success hide">Setup Success!</div>
    <script src="/js/app.js"></script>
</body>
</html>